.account__img {
  position: relative;
  color: $mainWhite;
  font-size: 3rem;
  font-weight: 600;
  .username {
    position: absolute;
    top: 8rem;
    left: 28rem;
  }
}
.card__img--wrappers {
  height: 22rem;
  .card__img {
    width: 15rem;
    object-fit: cover;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
.profile__watchlist {
  .stats_blocks {
    display: flex;
    h3 {
        font-weight: 400;
    }
    justify-content: space-between;
    padding-top: 1rem;
  }
  .inner_bloc {
    margin-top: 9rem;
  }
}
.profile__nav-part {
    padding: .4rem 0;
    border-bottom: 1px solid #dbdbdb;
}
.profile__favo {
  position: absolute;
  bottom: 2rem;
  display: flex;
  align-items: center;
  .dropdown__item {
    margin-right: 2rem;
    i {
      padding: 1rem;
      border: 1px solid rgb(149, 149, 149);
      border-radius: 50%;
    }
    #exxx {
      padding: 1rem 1.3rem;
    }
  }
  .profile__ratingd {
    padding-left: 2rem;
  }
  .dropdown__item a{
    display: flex;
    color: rgb(149, 149, 149);
    align-items: center;
  }
}
.card__keySearc {
  position: relative;
}
.profile__movie-tv {
  .profile__wrapper {
    margin-top: 1.5rem;
  }
  .title_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gropp__listed {
    margin-right: 2rem;
  }
  .flex__profile {
    padding-top: .3rem;
    display: flex;
    align-items: center;
    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .movie__counters{
      margin-right: 2rem;
    }

  }
  .filter_group {
    h4 {
      font-weight: 400;
    }
    .group_wrapper{
      margin: 0 1.5rem;
    }
  }
  .addede_gropuo {
    border-bottom: 2px solid;
    padding: .5rem;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: large;
    color: rgb(234, 22, 140);
    
  }
  
}


















