.account__img {
    position: relative;
    color: $mainWhite;
    font-size: 3rem;
    font-weight: 600;
    .username {
        position: absolute;
        top: 8rem;
        left: 28rem;
    }
}
.card__img--wrappers {
    height: 22rem;
    .card__img {
        width: 15rem;
        object-fit: cover;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}