.hide {
  display: none;
}
.movies__wrapper.row {
  gap: 20px;
}
.movies__wrapper.row .col {
  flex: 1 250px;
}
.tv__wrapper.row {
  gap: 20px;
}
.tv__wrapper.row .col {
  flex: 1 250px;
}
// .movies__wrapper__upcoming.row {
//   gap: 20px;
//     padding: 1rem 0;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     overflow-x: auto;
//     overflow-y: hidden;

// }

// .movies__wrapper__upcoming .col {
//   flex: 1 250px;
// }
// .movies__wrapper__upcoming::-webkit-scrollbar {
//   height: 8px;
// }
// .movies__wrapper__upcoming::-webkit-scrollbar-track {
//   border-radius: 15px;
//   padding: 1px;
// }
// .movies__wrapper__upcoming::-webkit-scrollbar-thumb {
//   background-color: #dbdbdb;
//   border-radius: 15px;
// }
body::-webkit-scrollbar {
  overflow-y: auto;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 15px;
}

.drop-content a {
  float: none;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid rgba(99, 99, 99, 0.527);
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.8rem;
}
.drop .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 1rem 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.drop:hover .drop-content {
  display: block;
}

// Progress Bar

.progress_bar {
  height: 47px;
  width: 47px;
  background-color: #081b21;
  position: absolute;
  border-radius: 50%;
  top: 67%;
  left: 10%;
  display: grid;
  place-items: center;
}
.circular-progress {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: #081b21;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
}

.card__hero {
  width: 16rem;
  height: auto;
  padding-bottom: 50px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 10px;
  .card__img--wrapper {
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
.movies {
  .row.movies__wrapper {
    padding: 1rem 0;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .row__outline--show {
    padding: 1.8rem 0;
    align-items: center;
    .popular__title {
      margin-right: 2rem;
    }
    .btn__wrapper--show {
      border: 1px solid;
      border-radius: 10rem;
    }
    .show__movie,
    .show__tv {
      border: none;
      padding: 0.7rem 2.5rem;
      border-radius: 10rem;
      background-color: $mainWhite;
      cursor: pointer;
    }
    .show__movie {
      background-color: $blue;
      color: $linerg;
    }
    // .show__movie:focus {
    //   background-color: $blue;
    //   color: $linerg;

    // }
    .show__tv:focus {
      background-color: $blue;
      color: $linerg;
    }
  }
}
