.movie__section {
  background-image: url(/src/assets/img/bg__movie.jpg);
  object-fit: cover;
  background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 3000px 3000px 8000px $bgColor;
  .movies__detailes {
    display: flex;
    .moviestyle {
      color: $mainWhite;

      display: flex;
      .details__moviess {
        .details__img {
          width: 30rem;
          height: 45rem;
          margin: 1rem;
          object-fit: cover;
          img {
            border-radius: 1rem;
          }
        }
      }
      .details__moviess_col {
        width: 70%;
        padding: 10rem 3rem;
        display: flex;
        flex-flow: column;
        .movie__row {
          display: flex;
        }
        .creaters {
          display: flex;
          padding-top: 2rem;
          .creter {
            padding-right: 2rem;
          }
        }
        .details__title h1 {
          font-size: 3.5rem;
        }
      }
    }
  }
}

.cast__people {
  display: flex;
  flex-wrap: wrap;
}
.crew__people {
  display: flex;
}

.cast__people::-webkit-scrollbar {
  height: 8px;
  border-radius: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.cast__people::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 15px;
}
.cast__row {
  display: flex;
}
.cast__col {
  width: 75%;
}
.casts__col {
  width: 25%;
  // display: flex;
  // justify-content: center;
  .networks .col {
    padding: 0.5rem 2rem;
    font-size: 2.3rem;
  }
  .keyword__wreap {
    padding: 0 1rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .movie__keyword {
    padding: 1rem 0;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    .col__key {
      // width: 50%;
      border: 1px solid #dbdbdb;
      margin: 1rem 0.5rem 0.5rem 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      background-color: rgb(229, 229, 229);
      cursor: pointer;
    }
  }
}

.movies__wrapper::-webkit-scrollbar {
  height: 8px;
  border-radius: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.movies__wrapper::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 15px;
}
.nav__part a {
  color: $mainBlack;
}

.nav__part {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    padding: 0.3rem 1.3rem;
  }
}

.movie__row {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  .moviecol {
    margin-right: 3rem;
  }
  .movie_icons {
    background-color: $mainBlue;
    padding: 1.5rem 1.6rem;
    border-radius: 50%;
  }
  .trealler {
    margin-left: 4rem;
  }
}
.overvave {
  font-size: 1.9rem;
  padding: 1rem 0;
}

.nav__part {
  .dropdow-content a {
    float: none;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdow-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid rgba(99, 99, 99, 0.527);
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0.8rem;
  }
  .dropdow .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 1rem 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdow:hover .dropdow-content {
    display: block;
  }
}

.cast__people.row {
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0;
}
.cast__people.row .col {
  flex: 1 150px;
}
.card__moviess {
  border: 1px solid rgba(53, 52, 52, 0.274);
  width: 15rem;
  border-radius: 1rem;
  height: 28rem;
  .card__img--wrapper {
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.search__results {
  gap: 20px;
}
.search__results.row .col {
  flex: 1;
}

.trealler {
  button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: $mainWhite;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

.keyvord__img {
  position: relative;
  img {
    height: 5rem;
    object-fit: cover;
  }
  background-color: rgb(5, 48, 67);
  .keyword__count {
    position: absolute;
    top: 1.8rem;
    right: 28rem;
    color: $mainWhite;
    font-size: 2rem;
    font-weight: 700;
  }
}

.card__keySearc {
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
  box-shadow: 1px 1px 5px 5px #dbdbdb;

  .card__img--wrapper {
    height: 15rem;

    img {
      width: 10rem;
      object-fit: cover;
    }
  }
  .card__body {
    padding: 2rem;
  }
}
.movie__status {
  padding: 1rem 0;
  h4,
  .status {
    padding: 0.5rem;
  }
}

.recommendations.row {
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0;
}

.recommendations.row::-webkit-scrollbar {
  height: 8px;
  border-radius: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.recommendations::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 15px;
}
.card__recommadation {
  width: 25rem;
  height: 20rem;
  .card__img--wrapper {
    height: 17rem;
    object-fit: cover;
  }
}
.recomadition__title {
  margin-top: 2rem;
  padding: 1rem 0;
}
.cart-flex {
  display: flex;
  justify-content: space-between;
}
.search__results {
  display: flex;
  flex-wrap: wrap;
}
.movies__col__wrapper {
  width: 23%;
  margin-right: 2rem;
  details {
    width: 100%;
    height: 50%;
    margin: 2rem 1rem 2rem 0;
    padding: 14px 16px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    summary {
      font-size: 1.8rem;
      list-style: none;
      font-weight: 600;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1rem 0;
      color: #000;
    }
    #activitySelector {
      width: 100%;
      height: 100%;
      padding: 0.375rem 0.75rem;
      border-color: #e4e7eb;
      color: #212529;
      background-color: #e4e7eb;
      border-radius: 5px;
      outline: none;
    }
    ul li:hover {
      background-color: #01b4e4;
      color: #fff;
    }
  }
  .searchsort {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    height: 44px;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #01b4e4;
    color: #fff;
    cursor: pointer;
  }

  .searchsort:hover {
    background-color: #05003b;
    color: #fff;
  }
}
.movies__col__wrap {
  width: 70%;
}

.account__img {
  img {
    height: 23rem;
    object-fit: cover;
  }
  background: rgb(60,15,60);
  background: linear-gradient(80deg, rgba(60,15,60,1) 0%, rgba(8,27,68,1) 100%);
  
}
.container-account {
  width: 80%;
  margin: auto;
}