.movies__detailes {
  .row {
    display: flex;
    .col {
      margin: 2rem;
    }
  }
}
.cast__people {
  display: flex;
  flex-wrap: wrap;
}
.crew__people {
  display: flex;
}
.get__movie {
  display: flex;
  overflow: auto;
  height: 380px;
}

// Scrollbars

// Main (body) Scrollbar

body::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 15px;
}

.get__movie::-webkit-scrollbar {
  height: 8px;
  border-radius: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.get__movie::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 15px;
}
