* {
padding: 0;
margin: 0;
}

.people {
display: flex;
flex-wrap: wrap;
gap: 2rem;
}
.people__card {
flex: 1;
min-width: 235px;
border: 1px solid #dbdbdb;
box-shadow: 0 0 3px 1px #dbdbdb;

img {
    height: 235px;
    object-fit: cover;
    aspect-ratio: 0.67/1;
}
}
.popular__people-size {
    padding-bottom: 1.5rem;
}