*{
    padding: 0;
    margin: 0;
}

.people {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.people__card{
    flex: 1;
    min-width: 235px;
    padding-top: 10px;

    img {
        height: 235px;
        object-fit: cover;
    }
}