.form__searchAll a {
  color: black;
}
.no_click {
  background-color: aqua;
  margin: 1rem;
  cursor: pointer;
}
// .active {
//     background-color: #666;
//     color: white;
//   }

#with_genres {
  input {
    display: none;
    &:checked + label {
       background-color: rgb(1, 180, 228);
       color: $mainWhite;
    }
  }
  li {
    display: inline-flex;
    border-radius: 14px;
    font-size: 0.9em;
    margin-right: 6px;
    margin-top: 8px;
  }
  label {
    border: 1px solid #dbdbdb;
    border-radius: 14px;
    padding: 4px 12px;

  }
}
