
nav {
    width: 100%;
    height: 64px;
    background-color: #032541;
    display: flex;
  }
  
  .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    a img {
      width: 154px;
      height: 20px;
    }
  }
  
  /* nav_menu */
  
  .nav_menu {
    display: flex;
    align-items: center;
  
    li {
      margin-left: 32px;
  
      a {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }
  
  .join_menu {
    display: flex;
    align-items: center;
  
    li {
      margin-left: 16px;
  
      a {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }
  
  .inner_content {
    width: 100%;
    height: 300px;
    background-image: url(../assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  
    /* justify-content: center; */
    color: #fff;
  }
  
  .inner_title {
    h2 {
      font-size: 3em;
      font-weight: 700;
      line-height: 1;
    }
  
    h3 {
      font-size: 2em;
      font-weight: 600;
      margin: 0;
    }
  }
  
  /* Search */
  
  .search_input {
    width: 90%;
    height: 46px;
    line-height: 46px;
    margin-top: 32px;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
  
    &:focus {
      outline: none;
    }
  }
  
  .search_submit {
    height: 47px;
    padding: 10px 26px;
    margin-left: -110px;
    border: none;
    background: linear-gradient(
      to right,
      rgba(30, 213, 169, 1) 0%,
      rgba(1, 180, 228, 1) 100%
    );
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  
    &:hover {
      background: linear-gradient(
        to right,
        rgba(1, 180, 228, 1) 0%,
        rgba(30, 213, 169, 1) 100%
      );
      color: #000;
      transition: 0.5s;
    }
  }
  
  /* What Popular? */
  
  .films {
    width: 100%;
    height: auto;
    padding: 32px 0;
    background-color: #f5f5f5;
    display: flex;
  
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  
    h3 {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 32px;
    }
  }
  
  /* Film */
  
  .film {
    margin-right: 23px;
    display: flex;
    flex-direction: column;
    text-align: center;
  
    img {
      width: 150px;
      height: 225px;
      border-radius: 8px;
    }
  
    h4 {
      max-width: 150px;
      font-size: 1em;
      font-weight: 700;
      color: #000;
      cursor: pointer;
      margin-top: 16px;
  
      &:hover {
        color: #1ed5a9;
      }
    }
  
    h5 {
      font-weight: 400;
      font-size: 1em;
      color: rgba(0, 0, 0, 0.6);
    }
  }
.navbar a {
    color: $secondary;
}